@using Placer.Core.Entities
@model Placer.WebUI.ViewModels.Tours.PastTourDetailsViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>title</title>
</head>
<body>
<div class="container">
  <h1 class="my-4">@Model.Name
    <br>
    <small>@Model.StartDate - @Model.EndDate</small>
  </h1>
  <div class="row">
    <div class="col-md-8">
      <div id="myCarousel" class="carousel slide">
           <div class="carousel-indicators">
               @for (int i = 0; i < Model.TourPlaces.Count; i++)
               {
                   <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="true" aria-label="Slide @(i + 1)"></button>
               }
           </div>
               <div class="carousel-inner">
                   @for (int i = 0; i < Model.TourPlaces.Count; i++)
                   {
                       var tourPlace = Model.TourPlaces.ElementAt(i);
                       <div class="carousel-item @(i == 0 ? "active" : "")">
                           <img src="@tourPlace.Place.Image" class="d-block w-100" alt="...">
                           <div class="carousel-caption d-none d-md-block">
                               <h5>@tourPlace.Place.Name</h5>
                               <p>@tourPlace.Place.Description</p>
                           </div>
                       </div>
                   }
               </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    <div class="col-md-4">
      <h3 class="my-3">Tour Description</h3>
      <p>@Model.Description</p>
      <h3 class="my-3">Tour Places</h3>
        <ul>
            @foreach (var place in @Model.TourPlaces)
            {
                <li>@place.Place.Name</li>
            }
        </ul>
        <h3 class="my-3">Manager </h3>
        <p>@Model.ManagerName</p>
        <h3 class="my-3">Contact Agency </h3>
        <p>@Model.AgencyName</p>
    </div>
  </div>
      <h3 class="my-4">Recall my photos..</h3>
      <div class="row">
      </div>
  </div>
</body>
<script>
  const myCarouselElement = document.querySelector('#myCarousel')
  
  const carousel = new bootstrap.Carousel(myCarouselElement, {
    interval: 2000,
    touch: false
  })
</script>
<script src="~/js/Scripts.js"></script>
</html>